*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}
section{
    padding: 100px 0;
}


.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.about .about-content,

.services .services-content,

.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}


/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 10px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    background: rgb(140, 234, 140);
    color: black;
   
}
nav .logo{
    color:black;
    font-size: 2.5rem;
    font-weight: bolder;
}

nav .logo i{
    color:red;
}
.navbar.sticky{
    padding: 15px 0;
    background: rgb(123, 206, 123);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: white;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: black;
    
    font-size: 30px;
    cursor: pointer;
    display: none;
    overflow: hidden;
}



.home{
    display: flex;
    background: url("asserts1/bg.jpg") no-repeat center;
    height: 100vh;
    color: black;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: rgb(47, 226, 116);
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid rgb(47, 226, 116);
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: white;
    background: none;
    border: 2px solid black;
}

/* about section styling */

.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .left img:hover{
    box-shadow: 6px 10px 5px 0px rgba(181,163,181,1);
    cursor: pointer;

}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: rgb(47, 226, 116);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid black;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: black;
    background: none;
    border: 2px solid black;
}


.services{
   background-color: white;
   color: black;
   margin-top: 10px;
}
.services button{
    background-color: rgb(47, 226, 116);
    margin-top: 20px;
    border: 2px solid rgb(47, 226, 116);
    border-radius: 6px;

    font-size: 15px;
    cursor: pointer;
    width: 150px;
    height: 35px;
}
.services button:hover{
    background: none;
    color: black;
    border: 2px solid black;
}
.services .title::before
{
    background: black;
}

.services .services-content .card{
    width: calc(33% - 20px);

    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .services-content .card img{
    height: 250px;
   width: 300px;
   border-radius: 10px;
   transition: color 0.3s ease;
}
.services .services-content .card img:hover{
    box-shadow: 6px 10px 5px 0px rgba(181,163,181,1);
}

.services .services-content .card .text{
    font-size: 25px;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    margin: 10px 0 7px 0;
}


.contact{
    background-color: white;
    color: black;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: black;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: black;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid rgb(47, 226, 116);
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: rgb(47, 226, 116);
  border: 2px solid rgb(47, 226, 116);
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color: black;
  background: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   .container{
    height: 100%;
    width: 100%; 
    background-color: whitesmoke;
   background-position: center;
   position: absolute;
   background-repeat: no-repeat;
   object-fit:fill;
   background-size: cover;
   }
   .form-box{
    height: 480px;
    width: 380px;
    background: transparent;
   margin: 6% auto;
    position: relative;
    padding: 5px;
    overflow: hidden ;
    border: 2px solid black;
    border-radius: 10px;
   }
   .button-box{
   
    width: 220px;
    margin: 35px auto;
    position: relative;
    /* box-shadow: 0 0 20px 3px black ; */
    border-radius: 35px;
    border: 1px solid black;
   }
   .toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
   }
   #btn{
    top:0;
    left: 0;
    position: absolute;
    width: 109px;
    height: 100%;
    background-color:  rgb(123, 206, 123);
    border-radius: 30px;
    transition: 1s;
   }
   .social-media{
    margin: 30px auto ;
    text-align: center;
   }
   .social-media img{
    width: 30px;
    margin:0 10px; 
    cursor: pointer;
   }
   .login-form{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 1s;
    border: 0px solid;
   }
   .form-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid black;
    outline: none;
    color: black;
    background: transparent;
   }
   
   .submit{
    width: 85%;
    padding: 10px 35px;
    cursor: pointer;
    display: block;
    margin: auto;
    background-color:  rgb(123, 206, 123);
    border: 0;
    outline: none;
    border-radius: 25px;
   }
   .checkbox{
    margin: 30px 10px;
    }
    span{
     color: black;
     
     font-size: 12px;
     bottom: 66px;
     position: absolute;
     margin-left: 0px;
    }
    #Signup{
     left: 450px;
    }
  
    footer{
        background: #111;
        padding: 15px 23px;
        color: #fff;
        text-align: center;
    }
    footer span a{
        color: crimson;
        text-decoration: none;
    }
    footer span a:hover{
        text-decoration: underline;
    }

    
   

/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .services-content  .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .services-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
 
@media (max-width:768px){

    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background:#fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding:1.5rem;
        margin:1rem;
        font-size: 2rem;
        background:#eee;
    }
}
}